.nav-link {
  position: relative;
  display: inline-block;
  color: #ef4444; /* Rojo */
  border: 1px solid #ef4444; /* Borde rojo */
  padding: 0.5rem 1rem;
  background-color: #ffffff; /* Fondo blanco */
  overflow: hidden;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #ef4444; /* Fondo rojo en hover */
  z-index: 0;
  transition: width 0.5s ease;
}

.nav-link:hover {
  color: #ffffff; /* Cambia el color del texto a blanco en hover */
  box-shadow: 0 4px 6px rgba(239, 68, 68, 0.5); /* Sombra */
}

.nav-link:hover::before {
  width: 100%; /* Expande el fondo al pasar el puntero */
}

.nav-link > span {
  position: relative;
  z-index: 10; /* Asegura que el texto esté encima del fondo animado */
}

.logout-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 10rem; /* Puedes ajustar el ancho si es necesario */
  overflow: hidden;
  background-color: #2563eb; /* Azul */
  color: white;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(37, 99, 235, 0.5); /* Sombra */
}

.logout-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 0;
  transition: border-width 0.1s linear;
  box-sizing: border-box;
}

.logout-button:hover {
  background-color: white;
  color: #2563eb; /* Cambia el texto a azul en hover */
  box-shadow: 0 4px 6px rgba(37, 99, 235, 0.5);
}

.logout-button:hover::before {
  border: 25px solid white; /* Expande el borde al hacer hover */
}

.logout-button span {
  position: relative;
  z-index: 10;
}
