mat-toolbar {
  background-color: #4CAF50;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
}

mat-toolbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-right: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.credits-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.credits-container span {
  font-weight: bold;
  font-size: 16px;
}

.credits-container button mat-icon {
  font-size: 24px;
}

mat-icon-button {
  color: white;
}

mat-icon-button:hover mat-icon {
  color: #81C784;
}

@media (max-width: 768px) {
  mat-toolbar {
    flex-direction: row;
    justify-content: space-between;
  }

  mat-toolbar a:not(:first-child):not(.sign-in-button),
  mat-toolbar .spacer:not(:first-child) {
    display: none;
  }

  .mobile-menu-button {
    display: block;
  }

  .credits-container {
    flex-grow: 1;
    justify-content: center;
    display: flex;
  }

  .sign-in-button {
    display: block;
    margin-left: auto;
  }
}
