<div class="profile-container">
  <div class="profile-content">
    <div *ngIf="user" class="profile-name">
      <p><strong>Name:</strong> {{ user.name }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Rol:</strong> {{ getRoleDescription(user.roleType) }}</p>
    </div>
    <mat-expansion-panel [expanded]="isEditing">
      <mat-expansion-panel-header (click)="startEditing()">
        <mat-panel-title>
          Edit information
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="user">
        <form (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="user.name" name="name">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="user.email" name="email">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="newPassword" name="password" type="password">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="!isFormValid()">Save</button>
          <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
        </form>
      </div>
    </mat-expansion-panel>
  </div>
</div>
