.title {
  margin-top: 20px;
  font-size: 3rem;
  text-align: center;
  font-family: 'Righteous', cursive;
  color: #1B3022;
  animation: pulse 1.5s infinite, color-change 0.8s infinite alternate;
  transform-origin: center;
}

@keyframes pulse {
  0% { transform: scale(0.6); }
  50% { transform: scale(1); }
  100% { transform: scale(1); }
}

@keyframes color-change {
  0% { color: #A5D6A7; }
  25% { color: #81C784; }
  50% { color: #66BB6A; }
  75% { color: #388E3C; }
  100% { color: #1B3022; }
}

.room-detail-container {
  background-color: white;
  display: flex; /* Usamos Flexbox para el layout */
  justify-content: space-between; /* Espacio entre las columnas */
  margin: 20px; /* Margen general */
}

.room-detail-section {
  flex: 2; /* Toma más espacio en la pantalla */
  margin-right: 20px; /* Espacio entre las secciones */
  background-color: white; /* Fondo blanco para los detalles */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Esquinas redondeadas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.players-chat-section {
  flex: 1; /* Toma menos espacio en la pantalla */
  display: flex;
  flex-direction: column; /* Coloca los jugadores y el chat uno encima del otro */
  background-color: white; /* Fondo blanco para los jugadores y el chat */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Esquinas redondeadas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.room-detail-card {
  margin-bottom: 20px; /* Espacio entre las tarjetas */
  background-color: white;
}

.room-detail-chat {
  flex-grow: 1; /* El chat ocupará el espacio restante */
}

.room-detail-card img {
  height: 500px; /* Ajusta la altura de la imagen */
  object-fit: cover;
  border-radius: 15px; /* Bordes redondeados */
  margin: 10px; /* Margen alrededor de la imagen */
}

.chat-messages {
  max-height: 300px; /* Altura máxima para el área de chat */
  overflow-y: auto; /* Habilitar desplazamiento si es necesario */
  margin-bottom: 10px; /* Margen inferior para el área de mensajes */
  background-color: white; /* Fondo blanco para el área de chat */
  padding: 10px; /* Espaciado interno */
  border-radius: 10px; /* Esquinas redondeadas */
}

/* Estilo opcional para el botón */
button {
  margin-top: 10px; /* Margen superior para el botón enviar */
}

.chat-input {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Margen superior para el área de entrada */
}

.chat-input mat-form-field {
  flex-grow: 1; /* Permite que el campo de entrada crezca */
  margin-right: 10px; /* Espacio entre el campo de entrada y el botón */
}

.chat-input input {
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde del campo de entrada */
}

.chat-input button {
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de puntero */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.chat-input button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el cursor */
}
